@font-face{
    src: url(./assets/fonts/futura.ttf);
    font-family: futura;
  }
  @font-face{
    src: url(./assets/fonts/ConduitITCStd-Regular.otf);
    font-family: ConduitITCStd;
  }
  
  *{  
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: futura;
    background-image: url('./assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .App{
    margin-bottom: 20%;
  }
  